<html>

<head>
    <link rel="stylesheet" href="/csss/style.css" </head>
    <title>one users views</title>

<body>
    <div>
        <form action="/user/<%= user.id %>?method=PUT" method="POST">
            <input type="text" placeholder="id" name="id" value="<%= user.id %>">
            <input type="text" placeholder="first_name" name="name" value="<%= user.name %>">
            <input type="text" placeholder="email" name="email" value="<%= user.email %>">
            <input type="text" placeholder="password" name="password" value="<%= user.password %>">
            <input type="submit" value="update">
        </form>
    </div>

</html>
